<div class="order-lookup-container" style="text-align: center; margin-top: 5px;
    background-image: url('../../../assets/img/hhhhh.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 82vh; /* Giảm chiều cao để không chiếm toàn bộ màn hình */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Căn giữa theo chiều dọc */
    align-items: center; /* Căn giữa theo chiều ngang */
">
    <h1 style="color: rgb(24, 8, 8);font-size: 4rem;">TRA CỨU ĐƠN HÀNG</h1>
    <input type="text" ng-model="orderCode" name="orderCode" placeholder="Nhập mã đơn hàng" style="width: 400px; padding: 10px; margin-bottom: 20px; border-radius: 5px; border: 1px solid #ccc; background-color: white;"/>
    <button ng-click="searchOrder()" style="padding: 10px 20px; margin-left: 10px; background-color: #0a4d94; color: white; border: none; border-radius: 5px; cursor: pointer;">Tìm kiếm</button>
</div>

