<section class="content-header" style="padding: 0.5% !important">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-md-6">
                <app-bread-crumb [breadCrumbs]="breadCrumbs"></app-bread-crumb>
            </div>
            <div class="col-md-6">
                <button nz-button [nzType]="'primary'" (click)="openAddModal('')" style="float: right">
                    <span><i class="fas fa-plus"></i>&nbsp;Thêm mới</span>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="content cus-body">
    <div class="card">
        <div class="card-body">
            <div class="tab-content">
                <div class="active tab-pane">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <nz-table #basicTable [nzData]="dataTable">
                                    <thead>
                                        <tr>
                                            <th class="fw-b">ID khách hàng</th>
                                            <th class="fw-b">Họ tên</th>
                                            <th class="fw-b">Ngày sinh</th>
                                            <th class="fw-b">Email</th>
                                            <th class="fw-b">Địa chỉ</th>
                                            <th style="white-space: nowrap" class="fw-b">Tác vụ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of basicTable.data">
                                            <td>{{ data.Customer_id }}</td>
                                            <td>{{ data.Full_name }}</td>
                                            <td>{{ data.Birth_date | date : "dd/MM/yyyy" }}</td>
                                            <td>{{ data.Email }}</td>
                                            <td>{{ data.Address }}</td>

                                            <td style="white-space: nowrap">
                                                <a><span class="table-icon" nz-icon nzType="edit"
                                                        (click)="openAddModal(data)"
                                                        nzTheme="outline"></span></a><nz-divider
                                                    nzType="vertical"></nz-divider>
                                                <a>
                                                        <i (click)="resend(data.Customer_id)" class="fa fa-envelope" aria-hidden="true"></i>
                                                    </a>
                                                <nz-divider nzType="vertical"></nz-divider>
                                                <a><span class="table-icon" nz-icon nzType="delete"
                                                        (click)="openDeleteModal(data.Customer_id)"
                                                        nzTheme="outline"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Nhập họ tên" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Lọc</button>
            <button nz-button nzSize="small" (click)="reset()">Bỏ lọc</button>
        </div>
    </div>
</nz-dropdown-menu>

<nz-modal [(nzVisible)]="isDisplayAddModal" [nzTitle]="titleModal" nzCancelText="Đóng" nzOkText="Xác nhận"
    (nzOnCancel)="handleCancel()" (nzOnOk)="save()" [nzWidth]="1000">
    <ng-container *nzModalContent>
        <form nz-form nzLayout="vertical" [formGroup]="addForm">
            <div class="col-md-12">
                <div class="row">
                    <nz-form-item class="col-md-6">
                        <nz-form-label nzRequired>Họ tên</nz-form-label>
                        <nz-form-control nzErrorTip="Không được bỏ trống !">
                            <input formControlName="Full_name" nz-input placeholder="Nhập nội dung" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="col-md-6">
                        <nz-form-label nzRequired>Ngày sinh</nz-form-label>
                        <nz-date-picker formControlName="Birth_date" style="width: 100%" [nzFormat]="'dd/MM/yyyy'"
                            nzPlaceHolder="Chọn ngày"></nz-date-picker>
                    </nz-form-item>
                </div>
                <div class="row">
                    <nz-form-item class="col-md-6">
                        <nz-form-label nzRequired>Địa chỉ</nz-form-label>
                        <nz-form-control nzErrorTip="Không được bỏ trống !">
                            <input formControlName="Address" nz-input placeholder="Nhập nội dung" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="col-md-6">
                        <nz-form-label nzRequired>Email</nz-form-label>
                        <nz-form-control nzErrorTip="Không được bỏ trống !">
                            <input formControlName="Email" nz-input placeholder="Nhập nội dung" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isDisplayDelete" nzTitle="Xóa bản ghi" nzCancelText="Đóng" nzOkText="Xác nhận"
    (nzOnCancel)="handleCancel()" (nzOnOk)="delete()">
    <ng-container *nzModalContent>
        <h5 class="text-center">Bạn có chắc muốn xóa bản ghi này ?</h5>
        <i class="trash-icon fa fa-trash" aria-hidden="true"></i>
    </ng-container>
</nz-modal>
