  
  <br/>
  <section class="content cus-body">
    <div class="card">
      <div class="card-body">
        <div class="tab-content">
          <div class="active tab-pane">
            <div class="row">
                <div class="col-3">
                    <div style="height: 90%;" class="small-box bg-info">
                        <div class="inner">
                            <h3>{{this.KhachHang}}</h3>
                            <p> Khách hàng</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-people-roof"></i>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div style="height: 90%;" class="small-box bg-success">
                        <div class="inner">
                            <h3>{{this.DonHang}}</h3>
                            <p> Đơn hàng</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-people-group"></i>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div style="height: 90%;" class="small-box bg-warning">
                        <div class="inner">
                            <h3>{{this.LoaiHinh}}</h3>
                            <p> Dịch vụ</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-arrows-down-to-people"></i>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div style="height: 90%;" class="small-box bg-info">
                        <div class="inner">
                            <h3>{{this.DichVu}}</h3>
                            <p> Loại hình</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-person-walking-luggage"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-12" style="display: flex; justify-content: center;">
                <div class="chart-container" style="max-height: 65vh; width: 100%;display: flex; justify-content: center;">
                    <canvas  id="MyChart" >{{ chart }}</canvas>
              </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
