<div class="row"
    style="height: 1000px; background-image: url('../../assets/img/h1_hero.jpg');   background-repeat: no-repeat; background-size: cover;">
    <div class="col-md-12" style="padding: 300px;">
        <h1 style="font-size: 95px; font-weight: 600; color: aliceblue;">An toàn &amp; Đáng tin cậy <br><span
                style="color: #f15f22;">Super Logistic</span> Solutions!</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="width: 100vw;">
        <img src="/assets/img/workTime.png" style="width: 100%;" class="center" />
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="width: 100vw;">
        <img src="/assets/img/service.JPG" style="width: 100%;" class="center" />
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="width: 100vw;">
        <img src="/assets/img/home3.JPG" style="width: 100%;" class="center" />
    </div>
</div>