<div>
  <p-toast></p-toast>
    <div style="background-color: #e71e27; padding-bottom: 20px;height: 300px;">
        <h3 style="color: #fff; text-align: center; padding-top: 20px;">Quá trình vận chuyển đơn hàng</h3>
        <div class="d-flex justify-content-center">
            <div class="container" style="margin-left: 40px; margin-right: 40px;">
                <p-timeline [value]="events" layout="horizontal" align="top" styleClass="customized-timeline">
                    <ng-template pTemplate="marker" let-event>
                        <!-- <span class="custom-marker shadow-2" [style.backgroundColor]="event.color"> -->
                            <div style="width: 30px; height: 30px; border-radius: 100px; display: flex; justify-content: center; align-items: center; border: #1f3080 1px solid" [style.backgroundColor]="event.bgColor">
                                <i [style.color]="event.color" [ngClass]="event.icon"></i>
                            </div>
                        <!-- </span> -->
                    </ng-template>
                    
                      <ng-template pTemplate="content" let-event>
                        <p-card [header]="event.status" [subheader]="event.date">
                            <p>
                              {{event.content}}
                            </p>
                            <!-- <button pButton label="Read more" class="p-button-text"></button> -->
                        </p-card>
                    </ng-template>
                    
                  
                </p-timeline>
            </div>
        </div>
    </div>
    <div>
      <div>
        <h2 style="color: #e71e27;">Lưu ý : Bạn cần phải thanh toán đơn hàng để được duyệt vào giao cho shipper</h2>
      </div>
        <div style="margin: 0px 60px;">
            <div style="font-size: 20px; font-weight: 500; color: #453d3b; margin-bottom: 30px; font-weight: 600; margin-top: 20px;">Lịch sử đơn hàng</div>
            <p-table [value]="danhSachs" [tableStyle]="{ 'min-width': '70rem' }">
              <ng-template pTemplate="header">
                  <tr>
                      <th>STT</th>
                      <th>Mã đơn hàng</th>
                      <th>Hình thức vận chuyển</th>
                      <th>Giá</th>
                      <th>Khối lượng vận chuyển</th>
                      <th>Người vận chuyển</th>
                      <th>Trạng thái đơn hàng</th>
                      <th>Ghi chú</th>
                      <th>Ngày tạo</th>
                      <th>Thao tác</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowIndex="rowIndex" let-data>
                  <tr>
                      <td style="font-size: 14px;">
                        {{ rowIndex + 1 }}
                      </td>
                      <td>
                        {{ data.shippingCode }}
                      </td>
                      <td>
                        {{ data.hinhThuc }}
                      </td>
                      <td>
                        {{ data.priceValue | round | number }} ₫
                      </td>
                      <td>
                        {{ data.khoiLuong }}
                      </td>
                      <td>
                        {{ data.nguoiGiao !== ' ' ? data.nguoiGiao :"Chưa có người giao"}}
                      </td>
                      <td>
                        {{ data.trangThai }}
                      </td>
                      <td>
                        {{ data.note }}
                      </td>
                      <td>
                        {{ data.createDate | date }}
                      </td>
                      <td>
                        <button *ngIf="data.orderStatusId === 5 || data.orderStatusId === 6" (click)="handleVoting(data)" style="background-color: cadetblue; border: 1px cadetblue solid; border-radius: 4px;"><i class="pi pi-file-edit" style="color: #fff"></i></button>
                        <button (click)="handleLienHe(data.sdtNguoiGiao, data.emailNguoiGiao)" style="margin-left: 10px; background-color: green;border: 0px green solid; border-radius: 4px;"><i class="pi pi-phone" style="color: #fff"></i></button>
                        <button *ngIf="data.orderStatusId === 1" (click)="pay(data.orderId)" style="margin-left: 10px; background-color: goldenrod;border: 0px goldenrod solid; border-radius: 4px;"><i class="pi pi-wallet" style="color: #fff"></i></button>
                        <button *ngIf="data.orderStatusId === 1" (click)="handleDelete(data.orderId)" style="margin-left: 10px; background-color: red;border: 0px red solid; border-radius: 4px;"><i class="pi pi-trash" style="color: #fff"></i></button>
                      </td>
                    </tr>
              </ng-template>
          </p-table>
          </div>
    </div>
</div>
<p-dialog header="Đánh giá dịch vụ" [(visible)]="visible" [style]="{width: '50vw'}">
  <p style="font-weight: 600;">Lựa chọn điểm hài lòng:</p>
  <div style="display: flex; justify-content: center; margin-bottom: 8px;">
    <p-rating [(ngModel)]="rate"  [cancel]="false" stars="5">
      <ng-template pTemplate="cancelicon">
          <img 
              src="https://primefaces.org/cdn/primeng/images/demo/rating/cancel.png" 
              width="25px" 
              height="25px" />
      </ng-template>
      <ng-template pTemplate="onicon">
          <img 
              src="https://primefaces.org/cdn/primeng/images/demo/rating/custom-icon-active.png" 
              width="25px" 
              height="25px" />
      </ng-template>
      <ng-template pTemplate="officon">
          <img 
              src="https://primefaces.org/cdn/primeng/images/demo/rating/custom-icon.png"
              width="25px"
              height="25px" />
      </ng-template>
    </p-rating>
  </div>
  <p style="font-weight: 600;">Nhận xét đánh giá:</p>
    <textarea 
        [(ngModel)]="danhGia"
        id="float-input" 
        rows="5" cols="100" 
        pInputTextarea
        >
    </textarea>
  <p-button (click)="voting()" label="Gửi đánh giá" icon="pi pi-send" iconPos="right" />
</p-dialog>
<p-dialog header="Liên hệ shipper" [(visible)]="visible1" [style]="{width: '50vw'}">
  <p-avatar 
      icon="pi pi-user" 
      styleClass="mr-2" 
      size="xlarge" 
      shape="circle" />
  <p>
     Số điện thoại: {{sdtShipper}}
  </p>
  <p>
     Email: {{sdtShipper}}
 </p>
</p-dialog>