<div style="background-color: #39a806;" class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <!-- <img src="../../assets/layout/images/tải xuống.jpg" alt="logo"> -->
        <span style="font-size: 20px; color: #fff;">QUẢN LÝ GIAO HÀNG</span>
    </a>

    <button #menubutton style="color: #fff;" class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button style="color: #fff;" class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        <button style="color: #fff;" class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button style="color: #fff;" class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
    </div>
</div>