:host {
    ::ng-deep .p-datatable .p-datatable-thead>tr>th {
        background-color: #39a806;
        color: #fff;
        font-size: 14px;
    }
}
:host {
    ::ng-deep .prime-override-max-width {
        margin-top: 10px;
        width: 100%;
    }
}
:host {
    ::ng-deep .pi-check-circle:before {
        content: "\e90a";
        color: green;
        font-weight: bolder;
    }
}
:host {
    ::ng-deep .pi-lock:before {
        content: "\e95f";
        color: red;
        font-weight: bolder;
    }
}