<div class="container center" style="width: 500px; padding: 50px; background-color: gainsboro;" >
    <section class="content-header" style="padding: 0.5% !important">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-md-12">
                    <form>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                          <input type="email" id="form2Example1" class="form-control" />
                          <label class="form-label" for="form2Example1">Họ tên</label>
                        </div>
                        <div class="form-outline mb-4">
                          <input type="email" id="form2Example1" class="form-control" />
                          <label class="form-label" for="form2Example1">Địa chỉ</label>
                        </div>
                        <div class="form-outline mb-4">
                          <input type="email" id="form2Example1" class="form-control" />
                          <label class="form-label" for="form2Example1">Ngày sinh</label>
                        </div>
                        <div class="form-outline mb-4">
                          <input type="email" id="form2Example1" class="form-control" />
                          <label class="form-label" for="form2Example1">Email</label>
                        </div>
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                          <input type="password" id="form2Example2" class="form-control" />
                          <label class="form-label" for="form2Example2">Mật khẩu</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" id="form2Example2" class="form-control" />
                            <label class="form-label" for="form2Example2">Xác nhận mật khẩu</label>
                          </div>
 
                      
                        <!-- Submit button -->
                        <button type="button" class="btn btn-primary btn-block mb-4">Đăng nhập</button>
                      
                        <!-- Register buttons -->
                        <div class="text-center">
                         <a [routerLink]="['/login-customer']"> Quay lại đăng nhập</a>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </section>
   
</div>
